.profile-wrapper .menu-list {
  height: 100vh;
  width: 100px;
  position: fixed;
  background-color: #ffffff;
}
.profile-wrapper .menu-list ul {
  list-style-type: none;
  margin-block: 0;
  padding: 15px 30px 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-wrapper .menu-list ul li img {
  height: 40px;
}
.profile-wrapper .menu-list .logo-text {
  height: 60px;
  width: 60px;
  background-color: #1a1a1a;
  border-radius: 50%;
  position: relative;
}
.profile-wrapper .menu-list .logo-text span {
  position: absolute;
  font-size: 36px;
  color: #f5df4d;
  font-weight: 600;
  left: 28.33%;
  right: 28.33%;
  top: 13.33%;
  bottom: 15%;
}
.profile-wrapper .menu-list ul li {
  text-align: center;
  cursor: pointer;
}
.profile-wrapper .menu-list .menu-item {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #97999b;
  width: 60px;
}
.profile-wrapper .profile-container {
  background: #dbdbdb;
  padding-left: 100px;
  width: 100%;
}
